VITE_API_CMB_URL=https://cmb.tail91813a.ts.net
VITE_API_TOKEN=
VITE_NUSA_URL=https://nusadpd.ddns.net

# ANJAB API Configuration
VITE_ANJAB_API_BASE_URL=https://anjab.duckdns.org/api
VITE_ANJAB_API_EMAIL=
VITE_ANJAB_API_PASSWORD=

# Indikator API Configuration
VITE_API_BASE_URL=http://192.168.0.111:8000

# Admin Login Configuration
VITE_ADMIN_EMAIL=sdm@dpd.go.id
VITE_ADMIN_PASSWORD=
